<form>
    <h1>ATUALIZANDO LIVRO</h1>
    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" type="text" name="titulo">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome do Autor</mat-label>
        <input matInput [(ngModel)]="livro.nomeAutor" type="text" name="nomeAutor">
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Texto</mat-label>
          <textarea matInput [(ngModel)]="livro.texto" type="text" name="textp"></textarea>
     
  </mat-form-field>
  
      <div class="buttons">
          <button  (click)="update()" class="mat-elevation-z8 " mat-flat-button color="primary">ATUALIZAR</button>
          <button (click)="cancel()" class="mat-elevation-z8 " mat-flat-button color="warn">CANCELAR</button>
      </div>
  </form>